*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
.navber{
    color: #fff;
    display: flex;
    padding: 25px 100px;
    align-items: center;  
}
.title-logo{
    display: flex;
    align-items: center;
}

.navber img{
    margin-left: 55px;
}
.navber ul li{
    text-decoration: none;
    list-style: none;
    display: inline;
    margin-right: 20px;
    
}
.navber h1{
    margin-left: 10px;
    color: black;
    font-weight: 1000;
}

.navber h1 span{
    color: red;
}
.navber ul{
    display: flex;
    margin-left: 645px;
}
.navber ul li a{
    text-decoration: none;
}
.navber-icon{
    display: flex;
    background: #F8F3F2;
    border: o.5px solid rgb(220, 213, 213);
    border-radius: 7px;
}
.navber-icon li{
    list-style: none;
    margin: 10px;
}
.navber-icon li a{
    text-decoration: none;
}
.navber-icon li a i{
    margin-left: 7px;
}
/* navbar end */

/* banner start */
.banner-container{
    background-image: url(images/Group\ 14.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.banner{

    display: flex;
    justify-content: space-around;

}
.banner-text{
    margin: 150px 0 0 40px ;
}
.banner-text .btn{
    margin: 15px 0px 0px 7px;
}
.banner-text h2{
    font-size: 30px;
    font-weight: 700;
}
.banner-text h1{
    margin-top: 5px;
    font-size: 55px;
    color: goldenrod;
    font-weight: 900;
}
.banner-text h5{
    margin-top: 15px;
    font-weight: 300;
    color: black;
}
.btn-sign{
    display: inline-block;
    background: rgb(145, 24, 24);
    color: #fff;
    padding: 1rem 2rem;
    border: 1px solid transparent;
    font-weight: 500;
    transition: 0.5s;
    border-radius: 50px;
    margin-top: 20px;
}
.btn-rogue{
    display: inline-block;
    background: rgb(60, 156, 200);
    color: #fff;
    padding: 1rem 2rem;
    border: 1px solid transparent;
    font-weight: 500;
    transition: 0.5s;
    border-radius: 50px;
    margin-top: 20px;
    margin-left: 10px;
}
.btn-sign:hover{
    color: white;
    background-color: #0688f1f1;
}
.btn-rogue:hover{
    color: white;
    background-color: #3a1fd4f1;
}
.banner-img{
    
    margin-left: 175px;
}
.banner-img img{
    width: 520px;
}

 /* game info */

.info-container{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);;
}
.gamer-info{
    display: flex;
    padding: 0px 100px;
}
.info-img{
    grid-row-start: 1;
}
.info-img img{
    width: 700px;
}
.info-text{
    margin-top: 60px;
    margin-right: 85px;
    text-align: right;
    grid-row-start: 2;
}
.info-text h1{
    font-size: 35px;
    font-weight: 700;
    color: rgb(6, 242, 242);
    margin-bottom: 15px;
}
.info-text p{
    font-weight: 400;
}
.info-text .info-btn{
    display: inline-block;
    background: rgb(235, 7, 208);
    color: #fff;
    padding: 1rem 2rem;
    border: 1px solid transparent;
    font-weight: 500;
    transition: 0.5s;
    border-radius: 50px;
    margin-top: 20px;
    margin-left: 10px;
}
.info-text h4{
    color: rgb(73, 68, 68);
    margin-bottom: 17px;
    margin-top: 10px;
}
.info-text h2{
    color: rgb(40, 35, 35);
}
/* game info end */

/* game videos  */

.game-videos-container{
    text-align: center;
    margin-top: 45px;
}
.game-videos-title{
    font-size: 25px;
    font-weight: 700;
}
.game-videos-title span{
    color: rgb(6, 242, 242);
}
.game-videos-title h6{
    margin-top: 15px;
    color: #524848;
}
.game-videos{
    display: flex;
    justify-content: center;
    padding: 30px 5px;
}
.photo-frem{
    position: relative;
}
.photo-details{
    position: absolute;
    display: none;
    top: 0;
    margin: 80px;
}

.photo-frem img{
  width: 250px;
}

.photo-frem img:hover{
  opacity: 0.5;
}

.photo-frem:hover .photo-details{
    display: block;
}

.game-videos-img{
    width: 265px;
}

.game-videos-img h4{
    color: #675959;
    margin-top: 8px;
    margin-bottom: 10px;
}
/* ========= play game start============== */

.style-image-container{
    display: flex;
    justify-content: space-between;
    margin:50px 185px;
}
.image-container{
    display: flex;
}
.image-container .main-image{
    width: 550px;
    height: 550px;
}
.image-container .second-image{
    width: 200px;
    height: 200px;
    margin-left: -105px;
    margin-top: 430px;
}
.image-container-text{
    margin-top: 150px;
}
.image-container-text h1{
    font-weight: 800;
    font-size: 35px;
}
.image-container-text span{
    color: aqua;
}
.image-container-text p{
    font-weight: 500;
    margin-top: 15px;
}

/* ========== play game end============== */

/* career section start */
.careers{
    background: rgb(222, 54, 194);
    display: flex;
    /* padding: 30px 100px; */
}
.careers-img img{
    width: 590px;
}
.careers-text{
    padding: 50px 180px;
    color: #fff;

}
.careers-text p{
    font-weight: 500;
    margin-top: 15px;
}
.plan-text1 h5{
    padding-top: 15px;
}
.plan-text2 h5{
    padding-top: 15px;
}
.career-plan{
    display: flex;
    gap: 100px;
    margin-top: 20px;
}
.plan-text1{
    text-align: left;
}
.plan-text2{
    text-align: right;
}
.career-btn{
    margin-left: -7px;
}
/* career section end */

/* game button start  */
.all-game-btn{
    margin: 50px 0px;
}
.first-game{
    text-align: center;
}
.second-game{
    text-align: center;
}
.btn-game{
    background: #e9e3e3;
    padding: 10px 20px;
    border-radius: 45px;
    display: inline-flex;
    border: 1px solid #e9e3e3;
    margin: 5px;
}
.btn-game:hover{
    border: 1px solid rgb(211, 43, 43);
    background: #fff;
    cursor: pointer;
}
.btn-game img{
    margin-right: 10px;
    height: 40px;
    width: 40px;
}
.btn-game span{
    color: black;
    font-weight: 700;
    margin-top: 14px;
}
/* game button end  */

/* footer start  */
.footer{
    background: black;
    color: #fff;
    text-align: center;
}
.footer-logo{
    padding-top: 23px;
}
.footer-logo a{
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    font-weight: 700;
    display: flex;
    justify-content: center;
}
.footer-logo a img{
    width: 60px;
    height: 30px;
    margin-right: 2px;
}
.footer-logo a span{
 color: red;
}
.footer-link ul{
    display: flex;
    justify-content: center;
}
.footer-link ul li{
    list-style: none;
    padding: 15px 10px;
}
.footer-link ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}
.about ul li a{
    color: #fff;
    font-size: 20px; 
}
.social-icon li {
    margin: 10px;
}
.security ul li a{
    color: #7b6d6d;
    font-size: 18px;
}
.copyright{
    text-align: center;
    padding: 25px 0px 50px 0px;
    color: rgb(11, 244, 244);
}
 
/* responsive media query section */

@media screen and (max-width:767px) {

   /* navber section start */
    .navber-container{
        text-align: center;
        margin-left: 110px;
        width: 100%;
    }

    .navber{
        width: 100%;
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(1fr,1fr);
    }
    .navber ul{
        margin-left: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .title-logo{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 5px;
    }
    .navber img {
        margin-left: -30px;
    }
        /* navber section end */

        /* banner section start */
        .banner-container{
            width: 100%;
            margin-left: 100px;
        }
    .banner{
        display: grid;
        align-items: center;
        margin: 20px 100px;
    }
    .banner-img img{
        width: 350px;
    }
    .banner-text{
        padding: 20px 100px;
        margin: 30px auto;
    }
    .banner-img img{
        margin-right: 140px;
    }
    /* banner section end */

    /* game information section start */
    .info-container{
        width: 100%;
        margin-left: 100px;
        justify-content: center;
    }
    .gamer-info{
        display: grid;
        padding: 5px;
        
    }
    .info-img img{
        width: 100%;
    }
    .info-img{
        grid-row-start: 2;
    }
    .info-text{
        text-align: center;
        margin: 0 15px;
        grid-row-start: 1;
    }
    /* game information section end */

    /* game video section start */
    .game-videos-container{
        margin-left: 110px;
        width: 100%;
    }
    .game-videos{
        display: grid;
        grid-template-columns: 1;
        justify-content: center;  
    }
    .photo-frem img{
        padding: 8px 20px;
        width: 350px;
    }
    .game-videos-img{
        width: 420px;
    }

    .photo-details{
        margin: 130px 0 0 160px;

    }
        /* game video section end  */

        /* =======play game start======= */
    .style-image-container{
        display: grid;
        width: 100%;
        margin-left: 140px;
    }
    .image-container-text{
        grid-row-start: 1;
    }
    .style-image-container{
        margin-top: -100px;
        text-align: center;
    }
    .image-container .main-image{
        width: 300px;
        height: 300px;
    }
    .image-container .second-image{
        width: 100px;
        height: 100px;
        margin-left: -48px;
        margin-top: 246px;
    }
    .image-container-text p{
        margin-top: 55px;
        margin-bottom: 50px;
    }
    /* ======play game end======= */

    /* all game button section start*/

    .all-game-btn{
        width: 645px;
    }
    .btn-game{
        width: 200px;
    }
    /* all game button end */

    /* footer section start */
    .footer{
        width: 645px;
    }
    .about ul{
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(3,150px);
    }
    .social-icon ul{
        display: grid;
        grid-template-columns: repeat(3,150px);
    }
    .security ul{
        display: grid;
        grid-template-columns: repeat(2,200px);
    }
    .about ul li{
        padding: 5px;
    }
    /* careers section start */
    .career-container{
        width: 100%;
        justify-content: center;
    }
    .careers{
        display: grid;
        width: 645px
    }
    .careers-text{
        width: 100%;
        padding: 0;
        padding: 30px 20px;
    }
    .career-plan{
        gap: 50px;
    }

}
   /* tablet media quary */

@media (min-width:768px) and (max-width:991px) {
    .navber{
        width: 1309px;
        padding: 15px 20px;
    }

    .all-game-btn{
        width: 1309px;
    }
    .footer{
        width: 1309px;
    }
    .careers{
        width: 1309px;
    }
    .game-videos-container{
        width: 1309px;
    }
    .info-container{
        width: 1309px;
    }
    .banner{
        width: 1309px;
    }
}